body {
	background-color: #293241;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #FFFFFF;
}

p, .score {
	text-align: center;
}

#stage {
	display: flex;
	justify-content: center;
	/*margin: auto;
	display: block;*/
	margin-top: 20px;
}

canvas {
	position: absolute;
}

#game {
	z-index: 1
}

#instructions {
	z-index: 2
}