<!DOCTYPE html>
<html>
	<head>
		<title>Desert Rush</title>
		<meta charset = "utf=8">
		<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./main.css">
	</head>
	<body>
		<div id = "page">
			<nav class = "navBar">
				<h1 class = "title"><a href = './'>DESERT RUSH!</h1></a>
				<ul class = "navItems">
					<li class = "navItem"><a href = './'>GAME</li></a>
					<li class = 'navItem'><a href = './highScores'>HIGH SCORES</li></a>
				</ul>
				<div class= "githubLink">
					<a href = 'https://github.com/JonFobert'>
						<img src = './assets/githubLogo.png'>
					<a href = 'https://github.com/JonFobert'>/JonFobert</a>
					</a>
				</div>
			</nav>
			<div class = "score"></div>
			<div id = "stage">
				<canvas class="static" width = "960" height = "540"></canvas>
				<canvas class="background" width = "960" height = "350"></canvas>
				<canvas class="game" width = "960" height = "540"></canvas>
				<div class = "start-menu">
					<h1> DESERT RUSH! </h1>
					<p> USE THE &#8679 KEY TO JUMP OVER ZOMBIES! </p>
					<button class="start">START GAME</button>
				</div>
			</div>
			<footer class = "attribution">Jon Fobert<br>Character art from Kenney.nl<br>Background art from OpenGameArt.org</p>
			<script src="./script.js"></script>
		</div>
	</body>
</html>