<!DOCTYPE html>
<html>
	<head>
		<title>Volcano Rush</title>
		<meta charset = "utf=8">
		<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="./main.css">
	</head>
	<body>
		<div id = "page">
			<nav class = "navBar">
				<h1 class = "title"><a href = './'>VOLCANO RUSH!</h1></a>
				<ul class = "navItems">
					<li class = "navItem"><a href = './'>GAME</li></a>
					<li class = 'navItem'><a href = './highScores'>HIGH SCORES</li></a>
				</ul>
				<div class= "githubLink">
					<a href = 'https://github.com/JonFobert'>
						<img src = './assets/githubLogo.png'>
					<a href = 'https://github.com/JonFobert'>/JonFobert</a>
					</a>
				</div>
			</nav>
			<div class = "score"></div>
			<div id = "stage">
				<canvas class="static" width = "960" height = "540"></canvas>
				<canvas class="background" width = "960" height = "350"></canvas>
				<canvas class="game" width = "960" height = "540"></canvas>
				<div class = "start-menu">
					<h1> VOLCANO RUSH! </h1>
					<p> USE THE &#8679 KEY TO JUMP OVER ZOMBIES! </p>
					<button class="start">START GAME</button>
				</div>
			</div>
			<footer class = "attribution">Jon Fobert<br>Character art from Kenney.nl<br>Background art from OpenGameArt.org<br>favicon from https://www.iconfinder.com/josyanimator</p>
			<script type="module" src="./script.js"></script>
		</div>
	</body>
</html>